<!DOCTYPE html>
<html>
    <head>
        <title>ELastic Search</title>
        <link rel="stylesheet", type="text/css" href="../static/css/style.css">
    </head>

    <body>
        <div id="main">
            <h1>Search One Piece Anime in Elastic Search</h1>
            <form method="GET" action="/search/">
                <input name="queries" class="queries" type="text" placeholder="Search your Queries">
                <button type="submit" class="button">Search</button>
            </form>
        </div>
</html>